<div class="notification is-info" style="background-color: {% block color %}{% endblock %}">
    <svg version="1.1"  width="20px" height="20px" x="0px" y="0px">
        {% block icon_data %}{% endblock %}
    </svg>
    <span>
        {% block content %}{% endblock %}
    </span>
</div>
