{%  extends "base.jinja2" %}

{%  block style %}
    <!--suppress CssUnusedSymbol -->
    <style>
        section > * {
            display: inline-block;
            height: 100%;
        }

        section > #chat {
            width: 40%;
        }
        section > #activity {
            width: 59%;
            padding-left: 17px;
            vertical-align: top;
        }

        #activity {
            overflow-y: scroll;
            padding-right: 5px;
        }

        #activity .notification {
            margin-bottom: 7px;
        }
        #activity .notification svg {
            fill: #eaeaea;
        }
        #activity .notification span {
            position: relative;
            top: -3px;
            left: 2px;
        }
        #activity > .notification:not(:first-child) {
            opacity: 0.75;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="section">
        <div id="chat">
            <span></span>
        </div>

        <div id="activity">
            <span></span>
        </div>
    </section>

    <script type="application/javascript">
        let activityNode = document.getElementById('activity');
        let activitySocket = new WebSocket("ws://" + window.location.host + "/ws/activity");
        activitySocket.onmessage = function (event) {
            let template = document.createElement('div');
            template.innerHTML = event.data;
            activityNode.insertBefore(template, activityNode.childNodes[0]);
        }
    </script>
{% endblock %}
